html, body {
    margin: 0 auto;
}
.app {
    display: grid;
    height: 100px;
}

.app div {
    padding: 10px;
}

#app-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p {
    white-space: nowrap;
    width: 5px;
}

h4{
    white-space: nowrap;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.each-product {
    height: 350px;
    width: 50px;
    
}

button {
    white-space: nowrap;
    margin: 5px
}